<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AutoScoutDB" providerName="System.Data.SqlClient"
					connectionString="user id=marc;password=marc;server=10.176.129.40;Integrated Security=no;database=eCommerce;connection timeout=30" />
	</connectionStrings>
</configuration>